body {
    background: linear-gradient(
        45deg, 
        #9639ec 0%, 
        #b25ff5 25%, 
        #7a2dcf 50%, 
        #b25ff5 75%, 
        #9639ec 100%
    );
    background-size: 400% 400%; /* pour animation optionnelle */
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}
h1 {  
    color: #ffffff;  
    text-align: center;  
}
h3 {  
    color: #ffffff;  
    text-align: center;  
}
.img.logo.debian {  
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
    width: 100px;  
}/* Appliquer Roboto Condensed à tout le site */
body {
    font-family: 'Roboto Condensed', sans-serif;
}
.square-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    text-decoration: none; /* Supprimer le soulignement */
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s ease; /* Transition pour l'effet de survol */
}
p a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    text-decoration: none; /* Supprimer le soulignement */
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s ease; /* Transition pour l'effet de survol */
}